ion-content {
  display: flex;
  flex-direction: column;
  height: 100%; 
}

.scrollable-list {
  height: 75%;      
  overflow-y: auto;
  padding: 0;
  margin: 0;
}


.ionic-purple {
  background-color: #9b59b6; 
  color: white; 
}
