<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Múltiplos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Ingresa un número</ion-label>
    <ion-input [(ngModel)]="numero" type="number" placeholder="Número"></ion-input>
  </ion-item>

  <!-- Botón para calcular los múltiplos -->
  <ion-button expand="full" color="primary" (click)="procesarNumero()" [disabled]="!numero">Generar Múltiplos</ion-button>

  <!-- Contenedor con Scroll solo para la lista -->
  <ion-list class="scrollable-list">
    <ion-item *ngFor="let result of resultados">
      <ion-label [style.color]="result.color">
        {{ result.numero }} - Múltiplos: {{ result.multiplos.join(', ') }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
